* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top, #2a0d4e, #0b0620);
  color: #fff;
}
header{
  max-width: 1600px;
  margin: 0 auto;
}
section{
  max-width: 1600px;
  margin: 0 auto;
}

/* ===== NAVBAR ===== */
.navbar {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 12.5rem;
}

.logo span {
    background: linear-gradient(
    45deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  opacity: .8;
}

/* ===== BUTTONS ===== */
.btn-gradient {
  border: none;
  padding: 12px 28px;
  border-radius: 999px;
  background: linear-gradient(45deg, #ffdd00, #ff4ecd, #7b2cff);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.btn-outline {
  padding: 12px 26px;
  border-radius: 999px;
  background: transparent;
  border: 1px solid #2aff8f;
  color: #2aff8f;
}

/* ===== HERO ===== */
.hero {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* border: 5px solid forestgreen; */
}

.hero-content {
  max-width: 550px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  position:absolute;
  /* border: 5px solid forestgreen; */
}

.hero-circle{
  position: relative;
  max-width: 300px;
  width: 100%;

  /* border: 5px solid forestgreen; */
}
.circle-image {
  max-width: 300px;
  width: 100%;
}

.mic-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 116px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #2aff8f;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 2rem;
}

.hero-text {
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


/* ===== ABOUT ===== */