* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #2a0d4e, #0b0620);
  color: #fff;
}
header,
section,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

/* ===== NAVBAR ===== */
.navbar {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 12.5rem;
}

.logo span {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  opacity: 0.8;
}
.hamburger-menu {
  display: none;
}
/* ===== BUTTONS ===== */
.btn-gradient {
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 999px;
  background: linear-gradient(45deg, #ffdd00, #ff4ecd, #7b2cff);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.btn-outline {
  padding: 12px 26px;
  border-radius: 999px;
  background: transparent;
  border: 1px solid #2aff8f;
  color: #2aff8f;
  cursor: pointer;
}

/* ===== HERO ===== */
.hero {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  max-width: 1600px;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* border: 5px solid forestgreen; */
}

.hero-content {
  max-width: 550px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  /* border: 5px solid forestgreen; */
}

.hero-circle {
  position: relative;
  max-width: 300px;
  width: 100%;

  /* border: 5px solid forestgreen; */
}
.circle-image {
  max-width: 300px;
  width: 100%;
}

.mic-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 116px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #2aff8f;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 2rem;
}

.hero-text {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ===== ABOUT ===== */

.about {
  /* padding: 100px 80px; */
  text-align: center;
  margin: 6rem 12rem;
}
.about-content {
  max-width: 1200px;
  margin: 0 auto;
}
.about-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about-description {
  font-size: 1rem;
  line-height: 1.8;
  opacity: 0.85;
  margin-bottom: 0.8rem;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 5rem;
}

.stats h3 {
  color: #2aff8f;
  font-size: 2rem;
}

/* ===== WHY ===== */
.why {
  padding: 100px 220px;
  text-align: center;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 3rem 0;
}

.why-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  backdrop-filter: blur(10px);
  padding: 2rem;
  text-align: left;
  align-items: center;
}
.card.premium {
  align-content: center;
  grid-row: span 2;
}

.card.mobile {
  grid-column: span 2;
  align-content: center;
}
.card.global {
  grid-column: span 2;
  align-content: center;
}
.card.bolt {
  grid-column: span 2;
  align-content: center;
}
.card img {
  max-width: 3rem;
  margin-bottom: 1rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.card-description {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}
/* section featured */
.featured {
  max-width: 1600px;
  margin: 7.5rem 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  max-width: 1200px;
  display: flex;
  gap: 1.8rem;
  margin-bottom: 7.5rem;
}
.video-card {
  width: 300px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: auto;
}

/* content */
.card-content {
  padding: 0.9rem 1.8rem;
}

.card-content h2 {
  color: #fff;
  font-size: 26px;
  margin-top: 18px;
}

.card-content p {
  color: #cbbfe3;
  line-height: 1.6;
  margin: 14px 0;
}

/* duration */
.duration {
  display: flex;
  gap: 0.5rem;
}
.duration span {
  color: #28f3a4;
}

/* host-container */

.host-container {
  max-width: 1200px;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 24px;
}

.host-content {
  max-width: 896px;
}
.host-content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.host-content p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.social-icon {
  max-width: 184px;
  display: flex;
  gap: 1rem;
}
.social-icon img {
}
.circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #533c72;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer style */
.footer {
  background-image: url(../assets/footer-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  text-align: center;
}

.footer-content {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-content h1 {
  max-width: 410px;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 4rem;
  margin: 0 4rem 1rem 4rem;
}
.social-links {
  max-width: 544px;
  display: flex;
  gap: 30px;

  margin-bottom: 1rem;
}
.link {
  display: flex;
  gap: 8px;
}
.link p {
  font-size: 0.8rem;
}
.copyright {
  max-width: 1360px;
}
.copyright p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fafafa;
  padding-bottom: 4rem;
}
